
/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  

  /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }

  
.topnav {
    background-color:#263238;
    overflow: hidden;
    border:solid yellow;
  
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    
}

/* Change the color of links on hover */
.topnav a:hover:not(.active) {
    background-color: #111;
}

/* Add an active class to highlight the current page */
.active {
    background-color: #ffd600;
    color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}

 html, body {
    margin:auto;
    padding-top:40px;
    align-content: middle;
    vertical-align: middle;
    background-color: #d1c4e9;
    font-family: 'Rammetto One', cursive;
    font-weight: 500;
    
  /* background-image: url("http://eskipaper.com/images/cool-background-pictures-2.jpg") ;*/
   
    
}

.title{
    color:#ffd600;
    font-size: 35px;
    font-weight: 900;
    font-family: Lobster, Monospace;
    text-align: center;
    font-family: 'Rammetto One', cursive;
}
.currency{
    color:#ffd600;
     font-weight: 800;
     font-size: 20px;
     font-family: 'Rammetto One', cursive;
        }
.theDropdown {
    width: 180px;
    font-family: 'Rammetto One', cursive;
}

.twitter{
    box-shadow: 0 1px 6px yellow, 0 1px 4px yellow;   
}
.currency{
    padding-bottom:25px;
}
#units{
    color:#ffd600;
     font-weight: 800;
     font-size: 25px;
     font-family: 'Rammetto One', cursive;
     padding-right: 105px;
    
}
.pay{
    color:#ffd600;
     font-weight: 800;
     font-size: 25px;
     font-family: 'Rammetto One', cursive;
    padding-right:105px; 
    padding-bottom:15px; 
}
.col-centered{
    float: none;
    margin: 0 auto;
}


.history{
    background-color: #263238;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
    background-color: #263238;
    color:rgb(16, 16, 179);
}

.history2{
    color:#ffd600;
    align-content:center;
    text-align: center;
    font-weight: 800;
    font-size: 15px;
    font-family: 'Rammetto One', cursive;
}

.date{
     font-weight:600;
     font-family: 'Rammetto One', cursive;
     font-size: 15px;
     color:rgb(16, 16, 179);
}

.tab1{
    color:#ffd600;
    font-size: 15px;
    font-weight:800;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
   
}

.tab2{
    color:#ffd600;
    font-size: 20px;
    font-weight:800;
    font-family: 'Rammetto One', cursive;
}
.test1{
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
    background-color: #263238;
   
}


/**
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #263238;
    border:solid 4px yellow;
    font-size: 20px;
    overflow: hidden;
}

li {
    float: left;
}

ul li:last-child { float: right;
    color: #ffd600;
    font-weight: 800;
    font-size: 20px;
    font-family: 'Rammetto One', cursive;
 }

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #ffd600;
}

**/




table.table-bordered{
    border:2px solid#ffd600;
    margin-top:20px;
    font-family: 'Rammetto One', cursive;
    width:100%;
    
  }
table.table-bordered > thead > tr > th{
    border:.1px solid #ffd600;
    font-size:15px;
    font-weight: 900;
    font-family: 'Rammetto One', cursive;
}
table.table-bordered > tbody > tr > td{
    border:.1px solid #ffd600;
    font-size:15px;
    font-family: 'Rammetto One', cursive;
}

.disclaimer{
    color:hsl(256, 100%, 50%);
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    
}

.see{
    width: 100%;
    height: 90%;
    overflow: scroll;  
    border-radius: 10px;
}